.App {
  text-align: center;
}

.main-paper {
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container {
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

.main-items {
  text-align: left;
}

.footer {
  margin-top: 10vh;
  padding-bottom: 2vh;
}

.main-table {
  max-width: 650px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 2vh;
}

.main-info {
  max-width: 650px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 4vh;
}
